nav {
position:relative;
text-align:center;
float:right;
width:75%;
top:0px;
margin-top:-200px;
height:240px;
}

h1 {
position:relative;
text-align:left;
width:25%;
height:100px;
margin-top:-8px;
font-size: 50px;
}

header{
    background-color: darkcyan;
}

body {
    background-color: lightcyan;
}

section {
    display: flex;
}

.image{
    width:auto;
    text-align:center;
    padding:20px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#pageTitle {
    text-align: center;
}

.gameTitle {
    text-align: center;
}

.subtitle {
    font-size: 30px;
}

.links {
    color: black;
}